# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.tfstate.lock.info

# MLflow & Data
mlruns/
*.csv
*.parquet

# Logs & OS Files
*.log
.DS_Store

# IDEs
.vscode/
.idea/
